.chatWindow {
    padding: 60px 15px 0;
    box-sizing: border-box;
    position: relative;
    max-width: 900px;
    width: 100%;
}

.background {
    position: fixed;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.05) 60.6%);
    max-width: inherit;
    width: inherit;
    height: 100%;
    /* Override the padding of the parent. */
    margin-left: -15px;
    top: 0;
    z-index: -100000;
}

.connectionStatusIconParent {
    position: absolute;
    /* Parent padding * 2 */
    right: 30px;
    top: 25px;
}

.connectionStatusIcon {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.43) 0 0 10px;
    border-radius: 25px;
}

.messageSender {
    display: flex;
    flex-direction: row;
    width: inherit;
    max-width: inherit;
    gap: 15px;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    bottom: 0;
    /* Override the padding of the parent. */
    margin-left: -15px;
    /* Same horizontal inner padding as parent. */
    padding: 8px 15px;
    background: radial-gradient(circle at 12.3% 19.3%, rgba(85, 88, 218, 0.74) 0%, rgba(95, 209, 249, 0.82) 100.2%);
    backdrop-filter: blur(7px);
    box-shadow: rgba(0, 0, 0, 0.43) 0 5px 12px;
    border-radius: 25px 25px 0 0;
    box-sizing: border-box;
}

.textareaContainer {
    display: flex;
    padding: 0 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 25px;
    outline: 0.13rem solid transparent;
    transition: outline-color 0.2s ease-in-out;
    cursor: text;
    box-sizing: border-box;
    min-height: 50px;
}

.textareaContainer:focus-within {
    outline: 0.13rem solid rgb(97, 194, 238);
}

.textareaContainer:has(textarea:disabled) {
    background-color: rgba(0, 0, 0, 0.25);
    color: #d9d9d9;
    outline: 0.13rem solid #fd9393;
    cursor: not-allowed;
}

.messageSenderField {
    background-color: transparent;
    width: 100%;
    border: none;
    font: inherit;
    resize: none;
    outline: none;
    color: inherit;
}

.messageSenderField::placeholder {
    color: rgba(255, 255, 255, 0.68);
}

.messageSenderField:disabled {
    cursor: not-allowed;
}

.sendMessageButton {
    padding: 12px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

/* Use the hover effect on desktop. */
@media (hover: hover) {
    .sendMessageButton:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

/* Use the active effect on mobile. */
@media (hover: none) {
    .sendMessageButton:active {
        background-color: rgba(255, 255, 255, 0.25);
    }
}

.messagesPanel {
    padding-bottom: 95px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.message,
.userMessage {
    box-sizing: border-box;
    align-self: flex-start;
    max-width: 90%;
    --messageRadius: 30px;
    padding: 15px 25px;
    white-space: pre-wrap;
    word-break: break-word;
}

.message {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(71, 113, 168) 100.2%);
    border-radius: 5px var(--messageRadius) var(--messageRadius) var(--messageRadius);
}

.userMessage {
    background: radial-gradient(circle at 12.3% 19.3%, rgb(88, 135, 206) 0%, rgb(85, 174, 209) 100.2%);
    border-radius: var(--messageRadius) 5px var(--messageRadius) var(--messageRadius);
    margin-left: auto;
}

